.projects {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px; }
    @media (min-width: 1000px) {
      .projects {
        grid-template-columns: repeat(3, 1fr); } }
    .projects a {
      color: #000;
      padding: 0px;
      border-radius: 3px; 
      text-decoration: none;}
      .projects a:hover {
        color: #fff; }
  
  .project {
    background: #6b536a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cdd0dd, #9497b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cdd0dd, #9497b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ #c09696 */
    padding: 10px;
    border-radius: 4px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Cutive";
    transition: all .2s ease-in;
    background-position: 100% 0;
    background-size: 200% 100%; }
   
  .project:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #4d0f65, #4d0fc9, 50%, transparent 20%, transparent); 
    background-position: 0 0;
    }
  
  .project h3 {
    line-height: 2rem;
  }
  
  .project-img {
    max-width: 65%;
    border-radius: 2.5rem;
    display: block;
    margin: 1.75rem auto;
    transition: all 0.3s ease-in;
  }
  
  .project-img:hover {
    border-radius: 1px;
  }

  